.toggle-container{
}

.toggle-switch {
    position: relative;
    width: 35px;
    height: 25px;
    margin: 0 0.15rem;
  }
  .toggle-switch input[type="checkbox"] {
    display: none;
  }
  .toggle-switch .switch {
    position: absolute;
    cursor: pointer;
    border-radius: 25px;
    background-color: #e5e5e5;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color 0.2s ease;
    animation-duration: 3s;

  }
  .toggle-switch .switch::before {
    position: absolute;
    content: "";
    left: 2px;
    top: 2px;
    width: 21px;
    height: 21px;
    background-color: #666666;
    border-radius: 50%;
    transition: transform 0.3s ease;
    animation-duration: 3s;
   

  }
 

  .toggle-switch {
  }
  
  .light-theme .moon {
    display: none; 
  }
  
  .dark-theme .sun {
    display: none; 
  }
  
  .hidden {
    display: none; 
  }

  .moon:hover,
.sun:hover {
  cursor: pointer;
}