
@font-face {
    font-family: 'Inter-Light';
    src: url("../../src/fonts/Inter-Light.ttf") ;
    font-style: regular;
    font-display: swap;
    font-weight: 300;
}
@font-face {
    font-family: 'Inter-Medium';
    src: url("../../src/fonts/Inter-Medium.ttf") ;
    font-style: regular;
    font-display: swap;
    font-weight: 300;
}

.header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.toggle{
display: flex;
align-items: center;
margin-left: 10px;
}
.input{
    
    border: none;
width: 40%;
    input{
        transition: background-color 0.3s ease, color 0.3s ease;

    width: 100%;
    height: 40px;
    box-sizing: border-box;
    max-width: 750px;
    font-size: 1rem;
    overflow: hidden;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 20px;
    padding: 0px 5px 0px 17px;
    border: none;
    &:active {
        outline: 0;
        outline-offset: 0;
    }
    &:hover {
        outline: 0;
        outline-offset: 0;
    }
    &:focus {
        outline: 0;
        outline-offset: 0;
    }

    }
}

.wrapper{
display: flex;
}

.main_price{
display: flex;
flex-direction: row;
}
.main_symbol{
margin-left: 10px;
}
.red{
    color: #F45C6B;
    }
    .green{
    color: #4ECEA6;
    }


    //Displayed Coin styles

.info_body_container{
    position: fixed;
    margin-top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #4ECEA6;
    max-height: 200px;
    padding: 40px;
    .name{
    display: flex;
        .main_name{
        font-family: 'Inter-Medium';
        font-size: 50px;
        }
        .main_symbol{
        font-family: 'Inter-Light';
        color:#999999;
        display: flex;
        align-content: center;
        align-items: center;
        }
    }
    .main_price{
    font-family: 'Inter-Light';
    }

}