.header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.toggle{
display: flex;
align-items: center;
margin-left: 10px;
}
.input{
    
    border: none;
width: 40%;
    input{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    max-width: 750px;
    font-size: 1rem;
    overflow: hidden;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 20px;
    padding: 0px 5px 0px 17px;
    border: none;
    &:active {
        outline: 0;
        outline-offset: 0;
    }
    &:hover {
        outline: 0;
        outline-offset: 0;
    }
    &:focus {
        outline: 0;
        outline-offset: 0;
    }

    }
}